@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<ul id="list">
    <li>Productor 1</li>
    <li>Productor 2</li>
</ul>

@section Scripts {
    <script src="~/Scripts/MyScripts/ListProduct.js"></script>
}